<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">


<div th:name="content">
    <img class="My-banner"
         src="https://user-images.githubusercontent.com/31065684/150462218-a0b4f370-d2e5-4779-baff-f966259c4393.png"
         alt="First slide" width="1240">
</div>

<div>
    <p>
        <input type="button" value="로그인" style="width:60pt;height:20pt;" onClick="location.href='/myLogin'">
        <input type="button" value="나의당근" style="width:60pt;height:20pt;" onClick="location.href='/my/'">
    </p>
</div>

<div>
    <div class="row">
        <h1>
            중고거래 인기매물
        </h1>
        <p>
            <label>
                <input type="text" value="지역을 검색하세요">
            </label>
            <label>
                <input type="text" value="동네를 검색하세요">
            </label>
        </p>
    </div>
</div>


<br><br><br>


<div>
    <p>
        <img src="https://user-images.githubusercontent.com/31065684/150472303-42011937-5f94-4912-ac17-3d03af8f6535.png"
             alt="articles" width="1240">
    </p>
</div>

<br><br><br>

<div>
    <footer class="footer" th:fragment="fragment-footer()"
            style="font-size: 20px; text-align: left; padding-bottom: 10px">
        <div class="container">
            <div>고객문의 cs@clone_daangnservice.com</div>
            <div>제휴문의 contact@clone_daangn.com</div>
            <div>지역광고 ad@clone_daangn.com</div>
            <div>PR문의 pr@clone_daangn.com</div>
            <div>사업장 : 서울특별시 구로구 디지털로00길 00, 00호 (클론당근서비스)</div>
            <div>사업자 등록번호 : 000-00-00000 직업정보제공사업 신고번호 : 0000000000000000</div>
            <div>통신판매업 번호 : 2022-서울강남-2022</div>
        </div>
    </footer>
</div>

</html>
