<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:글작성 페이지>페이지 타이틀</title>
    <script th:inline="javascript">

    </script>
</head>
<body>
<h1 th:text="새글쓰기" >페이지 헤드라인</h1>



<div>
    <!--- @todo 전송하기 동작 안됨--->
    <!--- enctype="multipart/form-data" --->
    <form role="form" th:action="@{/post/new}" th:object="${postDtoRequest}" th:name="postDtoRequest" method="post" >


        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">제목</span>
            </div>
            <label>
                <input type="text" th:field="${postDtoRequest.title}" th:text="${postDtoRequest.title}" class="form-control" placeholder="글제목">
            </label>
        </div>


        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">본문</span>
           </div>
            <label>
                <textarea aria-label="With textarea" th:field="${postDtoRequest.contents}" th:text="${postDtoRequest.contents}" class="form-control" placeholder="본문">
                </textarea>
            </label>

        </div>



        <!--- --->
        <div class="input-group">
            <label>
                <input type="datetime-local" th:field="*{validFrom}" class="form-control" placeholder="올라가는시간" th:value="null">
            </label>
        </div>

        <div class="input-group">
            <label>
                <input type="datetime-local" th:field="*{validUntil}" class="form-control" placeholder="내려가는시간" th:value="null">
            </label>
        </div>
        <!--- --->


        <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
            <div class="custom-file img-div">
                <input type="file" class="custom-file-input" name="attachFiles">
                <label class="custom-file-label" th:text="첨부파일 + ${num}"></label>
            </div>
        </div>


        <div>
            <button type="submit"  class="btn btn-primary">전송</button>
        </div>

    </form>



</div>

</body>
</html>
